In [1]:
from glob import glob
import pandas as pd

In [2]:
# Opción que deshabilita el limite de columnas y filas mostradas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
# Path de los archivos no-procesados (formato parquet)
path_data = '../data/raw'

In [4]:
df_business = pd.read_parquet(f'{path_data}/y-business.parquet')

In [5]:
df_business.shape

(150351, 14)

In [19]:
df_business.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,None,93101,34.426679,-119.711197,5.0,7,0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,None,63123,38.551126,-90.335695,3.0,15,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Shipping Centers, Local Services, Notaries, Ma...","{'Friday': '8:0-18:30', 'Monday': '0:0-0:0', '..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,None,85711,32.223236,-110.880452,3.5,22,0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Department Stores, Shopping, Fashion, Home & G...","{'Friday': '8:0-23:0', 'Monday': '8:0-22:0', '..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Friday': '7:0-21:0', 'Monday': '7:0-20:0', '..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Brewpubs, Breweries, Food","{'Friday': '12:0-22:0', 'Monday': None, 'Satur..."

In [31]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150351 entries, 0 to 1543
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150351 non-null  object
 1   name          150351 non-null  object
 2   address       150351 non-null  object
 3   city          150351 non-null  object
 4   state         150348 non-null  object
 5   postal_code   150351 non-null  object
 6   latitude      150351 non-null  float64
 7   longitude     150351 non-null  float64
 8   stars         150351 non-null  float64
 9   review_count  150351 non-null  int64
 10  is_open       150351 non-null  int64
 11  attributes    136607 non-null  object
 12  categories    150248 non-null  object
 13  hours         127128 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 17.2+ MB

In [6]:
valor_buscado = 'LongHorn'
resultado = df_business[df_business['name'].str.contains(valor_buscado, case=False)]
print(resultado)

                   business_id                   name  \
2597    CS_GzUYlEPa6QHTRY224wQ    LongHorn Steakhouse
11158   WKF4p8kLDng4EECYC3RoeQ    LongHorn Steakhouse
15505   wlmzkpN3-otJCmtX9KVoNQ    LongHorn Steakhouse
18925   olLrmKZmBmo1vh05JZQZBg    LongHorn Steakhouse
28516   vI-2mPYOgfix5LcaqDOy_g    LongHorn Steakhouse
32419   2eqUGPaduwF_Bt9bICy1gg    LongHorn Steakhouse
34499   BzNXX2Qpe6pN8mHHg1t5Cw    LongHorn Steakhouse
36438   lR_ka9JYYUpL3se5WnLs1w    LongHorn Steakhouse
39019   bJvn95qeKCYsPs3Y5lfqsg    LongHorn Steakhouse
39191   DUfI_iaSWzHJecLJ-rxLYQ    LongHorn Steakhouse
42202   -RIsIJJw3cx98ba8BiWI6Q    LongHorn Steakhouse
48312   9gEpzuXI-brQftkdPtfd1Q    LongHorn Steakhouse
51200   JpJZHrEimgW609Y9yKvCPQ    LongHorn Steakhouse
55252   pabMCjMKIJOkM2qadvx6Yg    LongHorn Steakhouse
58025   uSwFlrrn-MKBKOiCRE2e6A    LongHorn Steakhouse
60531   PI7Qd_U8T-rSCfWmKvIZ5Q    LongHorn Steakhouse
62888   KFKzQpM3NtQAssAWFn9eLw    LongHorn Steakhouse
63502   IdFF45ev2i3jZU8UUOgYOg    LongHorn Steakhouse
63666   MGwRMnfgxPrk9HJ_a2GfeA    LongHorn Steakhouse
63813   IM0gPEyNRUoZVmYZhwuBpQ    LongHorn Steakhouse
65977   epVHdJqIFN0dtAiFvnVJVg    LongHorn Steakhouse
67542   aUuwxNRl2SJP64jkI67cbg    LongHorn Steakhouse
69518   rE5uySmc9eaADCXUaE0zEQ    LongHorn Steakhouse
69572   V0tlKbXn83HSkdqyBz76kQ    LongHorn Steakhouse
70771   fFPSKs3nCpj5EcOWPc7ltg    LongHorn Steakhouse
72677   IhzuSD9lCOBnOaCtAwGtIw   Longhorn Landscaping
73588   x6YlsHOvfklMNQJ2Jd4uVQ    LongHorn Steakhouse
76593   -RCy49doG-2XARGzr9Do5Q    LongHorn Steakhouse
78925   wct4ruIxzr4JTpMZc0cWbA    LongHorn Steakhouse
85553   RNgb844JJbo6vO1iUod8vA    LongHorn Steakhouse
87362   5e6Kf-t6_6CxhZrtTDy-7A    LongHorn Steakhouse
91877   Ur2C_YaqewfR3QWaWtJy3w    LongHorn Steakhouse
93693   BOdfIwPcvZ2V9vsOXCVgfA    LongHorn Steakhouse
95098   LOXQelUlZaLnz7zPtEpTsg    LongHorn Steakhouse
99266   g0k0fm8DTahqMwmFkbtYgA    LongHorn Steakhouse
101068  TFu4tLmV6zRVLEFG0TCLBA    LongHorn Steakhouse
103329  c7YFmyL1RDUmT6irYyFWVQ    LongHorn Steakhouse
103914  h1N4EPorcu3DIol0hKE1rg    LongHorn Steakhouse
111441  qgfkvGONjWNu17y2E28zgw    LongHorn Steakhouse
112645  tu9ztiKs7BEvuc8RdpmnQA    LongHorn Steakhouse
117881  VzD7LUwW_FwEROAapM40mA    LongHorn Steakhouse
128584  iGBBek9ye9dlhjsJXZ8TsQ  Longhorn Steak Burger
133794  3ISu5RHZdWCnBKCp3012iw    LongHorn Steakhouse
134222  mwicE5Un-uvqDtWL5wNBcA    LongHorn Steakhouse
140811  gd15-d7r2joRjkcXywMWUw    LongHorn Steakhouse

                              address              city state postal_code  \
2597                 690 S Trooper Rd        Norristown    FL       19403
11158              2400 Tyrone Blvd N  Saint Petersburg    CA       33710
15505              12974 S US Hwy 301         Riverview    MO       33578
18925                    9524 US 19 N       Port Richey    TN       34668
28516            5725 E Broadway Blvd            Tucson    FL       85711
32419             4820 E Southport Rd      Indianapolis    NV       46237
34499                   5375 E Bay Dr        Clearwater    CA       33764
36438           3642 S Lindbergh Blvd       Saint Louis    PA       63127
39019        817 Old York Rd, Ste 200        Jenkintown    FL       19046
39191              6115 N Illinois St  Fairview Heights    TN       62208
42202           355 Pleasant Grove Rd      Mount Juliet    FL       37122
48312            774 Old Hickory Blvd         Brentwood    MO       37027
51200             1003 Nashville Pike          Gallatin    AZ       37066
55252                4421 N Oracle Rd            Tucson    CA       85705
58025             11102 Causeway Blvd           Brandon    PA       33511
60531                 100 Rockhill Dr          Bensalem    LA       19020
62888   2021 Gallatin Pike N, Ste 296           Madison    IN       37115
63502                   2301 Route 38       Cherry Hill    AZ       08002
63666                   240 Easton Rd        Warrington    TN       18976
63813            2647 Creek Grass Way              Lutz    AB       33559
65977             9769 Roosevelt Blvd      Philadelphia    PA       19114
67542               2317 N Highway 67        Florissant    LA       63033
69518              1820 NW Shore Blvd             Tampa    AZ       33607
69572           10240 E Washington St      Indianapolis    DE       46229
70771                  5910 E 82nd St         Castleton    CA       46250
72677                  1145 Vance Way            Sparks    DE       89431
73588     5552 Saint Louis Mills Blvd         Hazelwood    IN       63042
76593          1175 Murfreesboro Pike         Nashville    PA       37217
78925             1110 Town Square Rd         Pottstown    IN       19465
85553            2120 S Columbus Blvd      Philadelphia    FL       19148
87362                    555 City Ave       Bala Cynwyd    IN       19004
91877                100 Bartlett Ave             Exton    PA       19341
93693              1440 Almonesson Rd          Woodbury    PA       08096
95098                  5840 W 86th St      Indianapolis    FL       46278
99266             975 Industrial Blvd            Smyrna    IL       37167
101068              2110 E Fowler Ave             Tampa    PA       33612
103329          10107 E US Highway 36              Avon    TN       46123
103914          2055 N Dale Mabry Hwy             Tampa    FL       33607
111441               7997 Franklin Rd             Boise    ID       83709
112645              4774 Lebanon Pike         Hermitage    ID       37076
117881          35645 US Highway 19 N       Palm Harbor    TN       34684
128584        9431 E 22nd St, Ste 157            Tucson    PA       85710
133794  1001 Baltimore Pike, Ste S-12       Springfield    MO       19064
134222            8212 Citrus Park Dr             Tampa    TN       33625
140811              4157 Concord Pike        Wilmington    PA       19803

         latitude   longitude  stars  review_count  is_open  \
2597    40.127477  -75.404075    3.5           104        1
11158   27.793324  -82.730343    3.5            62        1
15505   27.800143  -82.334157    3.5            42        1
18925   28.294457  -82.708815    3.5            79        1
28516   32.222009 -110.870116    3.0           242        1
32419   39.666459  -86.086255    3.5            66        1
34499   27.915804  -82.731211    3.5           141        1
36438   38.553788  -90.406400    3.0            90        1
39019   40.105514  -75.123935    3.5             6        1
39191   38.589144  -89.985517    3.5            62        1
42202   36.176261  -86.513585    3.5            56        1
48312   36.041647  -86.777966    3.5           113        1
51200   36.376118  -86.471172    3.5            60        1
55252   32.287217 -110.978838    3.5           137        1
58025   27.923747  -82.326307    3.0           166        1
60531   40.136019  -74.957489    3.0            90        1
62888   36.301083  -86.693306    3.0            70        1
63502   39.939532  -75.013091    3.0           119        1
63666   40.219583  -75.140576    3.5           105        1
63813   28.193806  -82.391166    3.5           104        1
65977   40.084410  -75.024068    2.5           128        1
67542   38.803755  -90.310269    3.0            54        1
69518   27.958540  -82.524490    3.5           115        1
69572   39.775669  -85.984386    3.0            71        1
70771   39.905965  -86.066171    3.0            94        1
72677   39.550669 -119.758664    4.5            19        1
73588   38.784947  -90.417419    3.5            25        0
76593   36.122032  -86.705808    3.5            70        1
78925   40.227258  -75.660357    3.0            38        1
85553   39.919412  -75.141194    2.5           155        1
87362   40.009579  -75.211949    2.5           108        1
91877   40.022287  -75.625513    3.5            66        1
93693   39.829495  -75.101069    3.0            93        1
95098   39.911321  -86.264257    3.5            80        1
99266   35.978286  -86.567055    3.5            52        1
101068  28.055087  -82.436354    3.5            88        1
103329  39.763175  -86.344211    3.5            54        1
103914  27.960909  -82.504840    2.5            15        0
111441  43.604569 -116.281702    3.5           140        1
112645  36.215552  -86.589765    4.0             5        0
117881  28.096059  -82.738933    4.0           102        1
128584  32.207468 -110.790779    3.5            20        0
133794  39.913351  -75.340923    2.5            92        1
134222  28.065623  -82.573722    3.5           109        1
140811  39.812620  -75.548970    3.5            10        1

                                               attributes  \
2597    {'AcceptsInsurance': None, 'AgesAllowed': None...
11158   {'AcceptsInsurance': None, 'AgesAllowed': None...
15505   {'AcceptsInsurance': None, 'AgesAllowed': None...
18925   {'AcceptsInsurance': None, 'AgesAllowed': None...
28516   {'AcceptsInsurance': None, 'AgesAllowed': None...
32419   {'AcceptsInsurance': None, 'AgesAllowed': None...
34499   {'AcceptsInsurance': None, 'AgesAllowed': None...
36438   {'AcceptsInsurance': None, 'AgesAllowed': None...
39019   {'AcceptsInsurance': None, 'AgesAllowed': None...
39191   {'AcceptsInsurance': None, 'AgesAllowed': None...
42202   {'AcceptsInsurance': None, 'AgesAllowed': None...
48312   {'AcceptsInsurance': None, 'AgesAllowed': None...
51200   {'AcceptsInsurance': None, 'AgesAllowed': None...
55252   {'AcceptsInsurance': None, 'AgesAllowed': None...
58025   {'AcceptsInsurance': None, 'AgesAllowed': None...
60531   {'AcceptsInsurance': None, 'AgesAllowed': None...
62888   {'AcceptsInsurance': None, 'AgesAllowed': None...
63502   {'AcceptsInsurance': None, 'AgesAllowed': None...
63666   {'AcceptsInsurance': None, 'AgesAllowed': None...
63813   {'AcceptsInsurance': None, 'AgesAllowed': None...
65977   {'AcceptsInsurance': None, 'AgesAllowed': None...
67542   {'AcceptsInsurance': None, 'AgesAllowed': None...
69518   {'AcceptsInsurance': None, 'AgesAllowed': None...
69572   {'AcceptsInsurance': None, 'AgesAllowed': None...
70771   {'AcceptsInsurance': None, 'AgesAllowed': None...
72677   {'AcceptsInsurance': None, 'AgesAllowed': None...
73588   {'AcceptsInsurance': None, 'AgesAllowed': None...
76593   {'AcceptsInsurance': None, 'AgesAllowed': None...
78925   {'AcceptsInsurance': None, 'AgesAllowed': None...
85553   {'AcceptsInsurance': None, 'AgesAllowed': None...
87362   {'AcceptsInsurance': None, 'AgesAllowed': None...
91877   {'AcceptsInsurance': None, 'AgesAllowed': None...
93693   {'AcceptsInsurance': None, 'AgesAllowed': None...
95098   {'AcceptsInsurance': None, 'AgesAllowed': None...
99266   {'AcceptsInsurance': None, 'AgesAllowed': None...
101068  {'AcceptsInsurance': None, 'AgesAllowed': None...
103329  {'AcceptsInsurance': None, 'AgesAllowed': None...
103914  {'AcceptsInsurance': None, 'AgesAllowed': None...
111441  {'AcceptsInsurance': None, 'AgesAllowed': None...
112645  {'AcceptsInsurance': None, 'AgesAllowed': None...
117881  {'AcceptsInsurance': None, 'AgesAllowed': None...
128584  {'AcceptsInsurance': None, 'AgesAllowed': None...
133794  {'AcceptsInsurance': None, 'AgesAllowed': None...
134222  {'AcceptsInsurance': None, 'AgesAllowed': None...
140811  {'AcceptsInsurance': None, 'AgesAllowed': None...

                                               categories  \
2597    Barbeque, Restaurants, Steakhouses, American (...
11158   Steakhouses, American (Traditional), Barbeque,...
15505   Restaurants, American (Traditional), Barbeque,...
18925   Steakhouses, American (Traditional), Restauran...
28516   Restaurants, American (Traditional), Steakhous...
32419   Restaurants, Barbeque, Steakhouses, American (...
34499   American (Traditional), Restaurants, Barbeque,...
36438   Restaurants, Barbeque, Steakhouses, American (...
39019   Steakhouses, Barbeque, American (Traditional),...
39191   Barbeque, Restaurants, American (Traditional),...
42202   Restaurants, Steakhouses, Barbeque, American (...
48312   Restaurants, American (Traditional), Steakhous...
51200   Steakhouses, Barbeque, Restaurants, American (...
55252   Steakhouses, American (Traditional), Barbeque,...
58025   Barbeque, American (Traditional), Restaurants,...
60531   Barbeque, American (Traditional), Restaurants,...
62888   Barbeque, Restaurants, Steakhouses, American (...
63502   Barbeque, American (Traditional), Steakhouses,...
63666   Restaurants, American (Traditional), Steakhous...
63813   American (Traditional), Restaurants, Steakhous...
65977   Steakhouses, Restaurants, Barbeque, American (...
67542   American (Traditional), Restaurants, Barbeque,...
69518   Restaurants, American (New), American (Traditi...
69572   Barbeque, American (Traditional), Steakhouses,...
70771   Barbeque, Restaurants, American (Traditional),...
72677   Gutter Services, Local Services, Landscape Arc...
73588   Restaurants, Barbeque, American (Traditional),...
76593   American (Traditional), Restaurants, Barbeque,...
78925   Barbeque, American (Traditional), Steakhouses,...
85553   Restaurants, Steakhouses, American (Traditiona...
87362   Barbeque, American (Traditional), Steakhouses,...
91877   Restaurants, Barbeque, Steakhouses, American (...
93693   Steakhouses, Restaurants, Barbeque, American (...
95098   Barbeque, American (Traditional), Restaurants,...
99266   Barbeque, Beer, Wine & Spirits, Food, Local Fl...
101068  Barbeque, American (Traditional), Steakhouses,...
103329  Restaurants, Steakhouses, American (Traditiona...
103914   Steakhouses, American (Traditional), Restaurants
111441  Restaurants, American (Traditional), Steakhous...
112645                           Steakhouses, Restaurants
117881  Barbeque, Steakhouses, Restaurants, American (...
128584        Steakhouses, Barbeque, Burgers, Restaurants
133794  Steakhouses, Sandwiches, Barbeque, Burgers, Re...
134222  Restaurants, American (Traditional), Barbeque,...
140811  Barbeque, Restaurants, American (Traditional),...

                                                    hours
2597    {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
11158   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
15505   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
18925   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
28516   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
32419   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
34499   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
36438   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
39019   {'Friday': '11:0-23:0', 'Monday': '11:0-22:0',...
39191   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
42202   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
48312   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
51200   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
55252   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
58025   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
60531   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
62888   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
63502   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
63666   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
63813   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
65977   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
67542   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
69518   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
69572   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
70771   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
72677   {'Friday': '6:0-17:0', 'Monday': '6:0-17:0', '...
73588   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
76593   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
78925   {'Friday': '11:0-22:0', 'Monday': '11:0-22:0',...
85553   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
87362   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
91877   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
93693   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
95098   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
99266   {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
101068  {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
103329  {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
103914  {'Friday': '11:0-23:0', 'Monday': '11:0-22:0',...
111441  {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
112645  {'Friday': '11:0-23:0', 'Monday': '11:0-22:0',...
117881  {'Friday': '12:0-20:0', 'Monday': '11:0-22:0',...
128584                                               None
133794  {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
134222  {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...
140811  {'Friday': '11:0-23:0', 'Monday': '11:0-22:0',...

In [9]:
resultado.shape

(45, 14)

In [7]:
df_business['categories'] = df_business['categories'].fillna('')

In [33]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [8]:
valor_buscado = 'Restaurants'
resultado_rest = df_business[df_business['categories'].str.contains(valor_buscado, case=False)]
resultado_rest.shape

(52268, 14)

In [9]:
valor_buscado = 'Steakhouses'
resultado_steak = resultado_rest[resultado_rest['categories'].str.contains(valor_buscado, case=False)]
resultado_steak.shape

(1506, 14)

In [10]:
valor_buscado = 'Barbeque'
resultado_barb = resultado_rest[resultado_rest['categories'].str.contains(valor_buscado, case=False)]
resultado_barb.shape

(1694, 14)

In [48]:
valor_buscado = 'Steakhouses'
resultado_steak = resultado_barb[resultado_barb['categories'].str.contains(valor_buscado, case=False)]
resultado_steak.shape

(147, 14)

Todos los steakhouses y barbeques tienen categoría restaurante  
Entre Barbeque y Steakhouses no hay tanta coincidencia

In [49]:
resultado_rest.to_csv("comercios_yelp_restaurants.csv")

In [51]:
resultado_rest.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Friday': '7:0-21:0', 'Monday': '7:0-20:0', '..."
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,AZ,37015,36.269593,-87.058943,2.0,6,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Friday': '9:0-0:0', 'Monday': '0:0-0:0', 'Sa..."
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,TN,63123,38.565165,-90.321087,3.0,19,0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,MO,37207,36.208102,-86.768170,1.5,10,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Friday': '6:0-16:0', 'Monday': '0:0-0:0', 'S..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,MO,33602,27.955269,-82.456320,4.0,10,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Vietnamese, Food, Restaurants, Food Trucks","{'Friday': '11:0-14:0', 'Monday': '11:0-14:0',..."

In [12]:

estados_buscados = ['FL', 'GA', 'SC', 'NC', 'VA', 'MD', 'DE', 'NJ', 'NY']
resultado_estados = resultado_rest[resultado_rest['state'].isin(estados_buscados)]
resultado_estados.shape

(12923, 14)

In [13]:
resultado_estados1 = resultado_steak[resultado_steak['state'].isin(estados_buscados)]
resultado_estados1.shape

(373, 14)

In [18]:
resultado_estados2 = resultado_barb[resultado_barb['state'].isin(estados_buscados)]
resultado_estados2.shape

(434, 14)

In [30]:
resultado_estados3 = df_business[df_business['state'].isin(estados_buscados)]
resultado_estados3.shape

(37133, 14)

--------------------------

In [15]:
# Crear lista de archivos en /data/raw/y-review/
review_parquets = glob(f'{path_data}/y-review/*')
review_parquets

['../data/raw/y-review/y-review_03.parquet',
 '../data/raw/y-review/y-review_02.parquet',
 '../data/raw/y-review/y-review_01.parquet']

In [16]:
# Crear dataframe donde se unen los datos extraidos de parquet
df_review = pd.DataFrame()
# Iterar por cada parquet dentro de /data/raw/y-review/
for p in review_parquets:
    # Leer parquet
    df = pd.read_parquet(p)
    # Unir a df_review
    df_review = pd.concat([df_review, df], ignore_index=True)

In [19]:
df_review.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date'],
      dtype='object')

In [21]:
df_review.head(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,NRI6ZkovQxhAbtw8gV9Csg,xGTlAfrM208q533eDriJkg,9r_prQEvUixrjuIB4v5qCQ,5.0,0,1,0,Went for brunch this last Sunday with She Who ...,2017-08-21 23:26:25
1,YY1Lk8bUkcheHjWM-pWgoQ,2T48z1egd0IRwrje2PgRuw,dqdEPiPQugiz8sIgMqXmiw,4.0,5,0,3,This is a nice home-town cafe. Very casual at...,2010-10-21 15:55:32
2,V-zNEilwLRvFtrcL9sNeQw,uQe-RHxj1npBb6Tp7w2gEw,sKutdIq6xvP0Xs4rUeKNHQ,5.0,0,0,0,Some of the best ice cream ever but without a ...,2021-01-31 04:10:50
3,tT8VIru8w71KHKW8Hb2MIQ,T9nmYu1cA9yU8lsVO_S_MQ,zhg9prrh_mc-mH5m1Vw7iw,5.0,0,0,1,Joe and Kelly make the most delicious food. It...,2021-04-18 17:05:25
4,uBsJwHXcXIgzvEtnNMKeQA,hTaBY4ObN-vTNgABea55wg,L1TzHZ8OXfVXTfyzidstzg,5.0,0,0,0,Great food with fast and friendly service! I l...,2021-03-22 03:57:59

In [20]:
df_review.shape

(6990280, 9)

In [23]:
comercios = resultado_rest["business_id"]
print(type(comercios))

<class 'pandas.core.series.Series'>

In [24]:

reviews_rest = df_review[df_review['business_id'].isin(comercios)]
reviews_rest.shape

(4724471, 9)

In [25]:
comercios_steak = resultado_steak["business_id"]
reviews_steak = df_review[df_review['business_id'].isin(comercios_steak)]
reviews_steak.shape

(240040, 9)

In [26]:
comercios_barb = resultado_barb["business_id"]
reviews_barb = df_review[df_review['business_id'].isin(comercios_barb)]
reviews_barb.shape

(198797, 9)

In [31]:
comercios_9 = resultado_estados3["business_id"]
reviews_9 = df_review[df_review['business_id'].isin(comercios_9)]
reviews_9.shape

(1734699, 9)

In [32]:
comercios_rest9 = resultado_estados["business_id"]
reviews_rest9 = df_review[df_review['business_id'].isin(comercios_rest9)]
reviews_rest9.shape

(1177503, 9)

In [33]:
comercios_steak9 = resultado_estados1["business_id"]
reviews_steak9 = df_review[df_review['business_id'].isin(comercios_steak9)]
reviews_steak9.shape

(59320, 9)

In [34]:
comercios_barb9 = resultado_estados2["business_id"]
reviews_barb9 = df_review[df_review['business_id'].isin(comercios_barb9)]
reviews_barb9.shape

(50871, 9)